@model CommentsRequestViewModel
<h1>Thank you!</h1>
<p>We reiceved your message and we're going to get in touch with you soon!</p>
<p>Request Id: @Model.Id</p>
<p>Request Url: @Model.RequestUrl</p>
<p>Delivery Email: @Model.Email</p>
<p>Comments Fetched: @(Model.CommentsFetched ? "Yes" : "No")</p>
<p>Mail Sent: @(Model.MailSent ? "Yes" : "No")</p>
<a href="/" class="btn btn-primary">Go back to the Homepage</a>
